<form action="/amoebas/<%= @amoeba.id %>" id="edit_amoeba_<%= @amoeba.id %>"method="post">
  <div>
    <label for="amoeba_name">Name</label><br>
    <input id="amoeba_name" name="amoeba[name]" type="text" value="<%= @amoeba.name %>">
  </div>

  <div>
    <label for="amoeba_talent">Name</label><br>
    <input id="amoeba_talent" name="amoeba[talent]" type="text" value="<%= @amoeba.talent %>">
  </div>

  <div>
    <label for="amoeba_acts">Name</label><br>
    <input id="amoeba_acts" name="amoeba[acts]" type="text" value="<%= @amoeba.acts %>">
  </div>

  <div>
    <input name="commit" type="submit" value="Update Amoeba">

  </div>
